<%= semantic_form_for @need, :html => { :class => "form-horizontal" } do |f| %>
  <%= f.inputs "Story" do %>
    <%= f.input :story_role, :collection => Need::ROLES, :label => "As a", :input_html => { :class => "span3" } %>
    <%= f.input :story_goal, :label => "I need to", :input_html => { :class => "span8" } %>
    <%= f.input :story_benefit, :label => "so that", :input_html => { :class => "span8" } %>
  <% end %>

  <%= f.actions %>

  <%= f.inputs "Information about this need" do %>
    <%= f.input :organisation_ids,
                :as => :select,
                :collection => Organisation.in_name_order,
                :label => "Organisations",
                :input_html => {
                  :multiple => true,
                  :class => "organisation-select span8"
                } %>
  <% end %>

  <%= f.inputs "Justify the need" do %>
    <%= f.input :justification,
                :as => :check_boxes,
                :label => "Why are we doing this need?",
                :collection => Need::JUSTIFICATIONS,
                :member_label => method(:justification_label) %>

    <%= f.input :evidence, :as => :text, :label => "Evidence of the need", :input_html => { :class => "span8", :rows => 4 } %>

    <div class="annotations">
      <%= f.semantic_fields_for :annotations do |f| %>
        <div class="annotation <%= f.object.format %> span9 offset2">
          <span class="format"><%= f.object.format.humanize %></span>
          <%= render :partial => "#{f.object.format}_annotation_form", :locals => { :f => f } %>

          <%= f.input :_type, :as => :hidden %>
          <%= f.input :_destroy, :as => :boolean, :label => "Delete?" %>
        </div>
      <% end %>

      <div class="controls">
        <%= f.submit "Add link", :name => "annotation_action", :class => "btn" %>
        <%= f.submit "Add priority", :name => "annotation_action", :class => "btn" %>
        <%= f.submit "Add legislation", :name => "annotation_action", :class => "btn" %>
      </div>
    </div>

    <%= f.input :done_criteria, :as => :text, :label => "How do we know when it's done?", :input_html => { :class => "span8", :rows => 4 } %>
  <% end %>

  <%= f.actions %>
<% end %>

