<article class="need">
  <div class="row">
    <h1 class="reference span2"><span><%= @need.whole_reference %></span></h1>
    <h2 class="title span10"><%= @need.story_goal.humanize %></h2>
  </div>

  <div class="row">
    <div class="span12 story">
      <p><%= @need.story %></p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <div class="complete">
        <div class="progress <%= progress_class(@need.completion) %>">
          <div class="bar" style="width: <%= @need.completion %>%"></div>
        </div>
        <p>This need's information is <%= @need.completion %>% complete.</p>
        <p><%= link_to "Update need", edit_need_path(@need), :class => "btn" %></p>
      </div>
    </div>
    <div class="span8 justification">
      <section>
        <h2>Why is this needed?</h2>
        <p>
          <% if @need.justification.any? %>
            <ul>
            <% @need.justification.reject(&:blank?).each do |key| %>
              <li><%= t "need.justifications.#{key}" %></li>
            <% end %>
            </ul>
          <% else %>
            <p><em>No justification provided yet.</em></p>
          <% end %>
        </p>
      </section>

      <section>
        <h2>Evidence of the need</h2>
        <% if @need.evidence.present? %>
          <p><%= @need.evidence %></p>
        <% elsif !@need.annotations.any? %>
          <p><em>No evidence provided yet.</em></p>
        <% end %>

        <% if @need.annotations.any? %>
        <ul class="annotation-list">
          <% @need.annotations.each do |annotation| %>
            <%= render :partial => "#{annotation.format}_annotation", :locals => { :annotation => annotation } %>
          <% end %>
        </ul>
        <% end %>
      </section>

      <section>
        <h2>How do we know when it's done?</h2>
        <% if @need.done_criteria.present? %>
          <p><%= @need.done_criteria %></p>
        <% else %>
          <p><em>No criteria provided yet.</em></p>
        <% end %>
      </section>
    </div>
  </div>
</article>
